ENV=dev
PORT=xxx

## Database
DATABASE_URI=mongodb+srv://<USER>:<PASSWORD>@clustertest.ywympn2.mongodb.net/<DATABASE>
DATABASE_USE_NEW_URL_PARSER=xx
DATABASE_USE_UNIFIED_TOPOLOGY=xx
DATABASE_USE_FIND_AND_MODIFY=xx

PATH_FILE_TRANSCRIPTION=xxx

MLABS_COMMAND="C://mi-carpeta//wscript.exe"

JWT_SECRET_KEY=xxxx
JWT_EXPIRATION=xx
